 .language-tw, .unieditor .language-tw, .unieditor .lang-tw  {
   font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif!important;
   /*white-space:  pre-wrap;*/
 }

span.token.twhanging, span.token.twbold{
/*font-weight: bold;*/
;
  text-shadow: 0.3px 0.3px 0 currentColor;
  
}

.token.code_section :not(.punctuation) {
  background-color: #dcdcdc; 
  opacity:0.7;
}
 .token.transclude,.token.transcludeA, .token.twlink {
	color: #07a;
}

.token.urlstring {
	color: #07a;
}
span.token.twdefs, span.token.twcode {
	color: red;
}
.token.inline_style {
  color:orange;
}
.token.strike {
  text-decoration: line-through;
}
.token.underline {
  text-decoration: underline;
}
.token.subscript .content{
display: inline-block;
 transform: scaleY(0.6);
 position: relative;
 bottom: -3px;
}
.token.superscript .content{
display: inline-block;
 transform: scaleY(0.6);
 position: relative;
 top: -3px;
}

.token.tw_important1 {
display: inline-block;
 transform: scaleY(2.2);
 position: relative;
 bottom: +3px;
}

.token.tw_important2 {
display: inline-block;
 transform: scaleY(1.7);
 position: relative;
}


.token.tw_important3 {
display: inline-block;
 transform: scaleY(1.22);
 position: relative;
}
.token.tw_important {
}
.token.macro {
color: #905;
}